
    body{
        margin: 0;
        padding: 0;
        background-color: black;
        
    }
.navbarmod{
    position: absolute;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Nunito Sans', sans-serif;


}
.carouselmod{
    position: absolute;
    top:0;


}
.text-viaje{
    font-size: larger;
    font-family: 'Nunito Sans', sans-serif;
}
.logo{
    width: 3%;
}
.card-body{
    background-color: black;
    
    
}
.h5{
    font-family: 'Roboto', sans-serif;
}
.h4{
    font-family: 'Roboto', sans-serif;
}

.alineado{
    text-align: start;
    font-family: 'Nunito Sans', sans-serif;
    
}
.alineado2{
    text-align: start;
    background-color:rgb(37, 210, 210) ;
    font-family: 'Nunito Sans', sans-serif;

    
    
}
.redes{
    text-decoration: none;
    color: aliceblue;
}


.tamanoicon{
    font-size: 2rem;
}

.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(1rem);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(16, 154, 193) ;    
    opacity: 0.7;
    border: 0;
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-out ;    
   
    
}
.scroll-top-btn:hover{ 
    text-decoration:none;
    color: rgb(0, 0, 0);
  }
.navblack{
    background-color: rgb(92, 80, 80) ;
    opacity: 0.5;
    color: rgb(255, 255, 255);
    transition: all 0.9s ease-out ; 
    
    
    
}
 

 
  





@media screen and (max-width: 991px) {
   
  
    .logo{
        width: 10%;
    }
}

